@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
* {
    padding: 0;
    margin: auto;
    outline: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    text-align: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    overflow: hidden;
}

h1 {
    font-size: 4rem !important;
}